 {% load static %}
  
                  <ul>
                    {% if location == "Dashboard" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-home"></i><a href="employer-dashboard.html">Dashboard</a></li>
                    <li></li>
                    <li></li>
                    {% if location == "Notifications" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-plus-square"></i><a href="/notifications">Notifications</a></li>
                    {% if location == "Edit Profile" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-user"></i><a href="/edit-profile">Edit Profile</a></li>
                    {% if user.user_type == 4 %}
                    {% if location == "Manage Employer" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-users"></i><a href="/manageEmployers/">Manage Employer</a></li>
                    {% if location == "Manage Company" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-briefcase"></i><a href="/manageCompanies/">Manage Company</a></li>
                    {% endif %}
                    {% if user.user_type != 1 %}
                    {% if location == "Manage Jobs" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-briefcase"></i><a href="/manageJobs/">Manage Jobs</a></li>
                    {% endif %}
                    {% if location == "Applications" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-users"></i><a href="/jobApplications/">Applications</a></li>
                    {% if user.user_type != 1 %}
                    {% if location == "Interview Ranking" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-heart"></i><a href="/employerRanking">Interview Ranking</a></li>
                    {% else %}
                    {% if location == "Interview Ranking" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-heart"></i><a href="/candidateRanking">Interview Ranking</a></li>
                    {% endif %}
                    {% if user.user_type == 4 %}
                    {% if location == "Admin Matchday" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-plus-square"></i><a href="/matchDay">Admin Matchday</a></li>
                    {% endif %}
                    {% if location == "View Match" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-plus-square"></i><a href="/viewMatch">View Match</a></li>
                    {% if location == "Post New Job" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-plus-square"></i><a href="/employer-dashboard-post-job">Post New Job</a></li>
                  </ul>
                  <ul class="delete">
                    {% if user.user_type == 4 %}
                    {% if location == "Add New Admin" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-power-off"></i><a href="/">Add New Admin</a></li>
                    {% endif %}
                    {% if location == "Logout" %}<li class="active">{% else %}<li>{% endif %}<i class="fas fa-power-off"></i><a href="/logout">Logout</a></li>
                  </ul>
              