<!doctype html>
{% load static %}
{% load joblist_tag %}
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Concordia ACE</title>
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "assets/css/bootstrap.min.css" %}>

    <!-- External Css -->
    <link rel="stylesheet" href={% static "assets/css/fontawesome-all.min.css" %}>
    <link rel="stylesheet" href={% static "assets/css/themify-icons.css" %} />
    <link rel="stylesheet" href={% static "assets/css/et-line.css" %} />
    <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %} />
    <link rel="stylesheet" href={% static "assets/css/plyr.css" %} />
    <link rel="stylesheet" href={% static "assets/css/flag.css" %} />
    <link rel="stylesheet" href={% static "assets/css/slick.css" %} /> 
    <link rel="stylesheet" href={% static "assets/css/owl.carousel.min.css" %} />
    <link rel="stylesheet" href={% static "assets/css/jquery.nstSlider.min.css" %} />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href={% static "images/favicon.png" %}>
    <link rel="apple-touch-icon" href={% static "images/apple-touch-icon.png" %}>
    <link rel="apple-touch-icon" sizes="72x72" href={% static "images/icon-72x72.png" %}>
    <link rel="apple-touch-icon" sizes="114x114" href={% static "images/icon-114x114.png" %}>


    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <header class="header-2 access-page-nav">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top">
              <div class="logo-area">
                <a href="/"><img src={% static "images/concordia-logo.png" %} alt=""></a>
              </div>
              <div class="top-nav">
                <a href="/edit-profile" class="account-page-link">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="padding-top-90 padding-bottom-90 access-page-bg" >
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="access-form">
              <div class="form-header">
                <h5><i data-feather="edit"></i>Edit Profile</h5>
              </div>
              {% if form.non_field_errors %}
                <div class="non-field-errors">
                  {% for err in form.non_field_errors %}
                    <p class="text-danger">{{ err }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}       
                {{form.extra_language_count}}
                <div class="basic-info-input">
                  <h4><i data-feather="plus-circle"></i>About you</h4>
                <div class="form-group">
                </div>
                    <div class="form-group">
                      {{form.studentID}}
                      {% if showError %}
                      {% for error in form.studentID.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                      {% endif %}
                    </div>
                    <div class="form-group">
                      {{form.gpa}}
                      {% if showError %}
                      {% for error in form.gpa.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                      {% endif %}
                    </div>
                    <div class="form-group">
                      {{form.creditCompleted}}
                      {% if showError %}
                      {% for error in form.creditCompleted.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                      {% endif %}
                    </div>
                    <div class="form-group">
                      {{form.creditLeft}}
                      {% if showError %}
                      {% for error in form.creditLeft.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                      {% endif %}
                    </div>
                    <div class="row" id = "LanguageFields">
                    {% for language in form.get_language_fields %}
                      <label class="col-md-3 col-form-label" name="edu_{{ forloop.counter }}">Language {{ forloop.counter }}</label>
                      <div class="col-md-9" id>
                        <div class="form-group">
                          {{language.language}}
                          {% if showError %}
                          {% for error in language.language.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-group">
                          {{language.proficiency}}
                          {% if showError %}
                          {% for error in language.proficiency.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        </div>
                        <div class="form-group">
                          {{language.details}}
                          {% if showError %}
                          {% for error in language.details.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        </div>
                        {% if forloop.last %}
                        <div class="row">
                          {% if forloop.first %} 
                          <div class="col-md-3">
                            <input type="submit" class="add-new-field" formnovalidate value="+ Add Language" name="addLanguage" id="addLanguage">
                          </div>
                          {% endif %}
                          {% if not forloop.first %}
                          {% if not form.check_max_language_count%} 
                          <div class="col-md-3">
                            <input type="submit" class="add-new-field" formnovalidate value="+ Add" name="addLanguage" id="addLanguage">
                          </div>
                          {% endif %}
                          <div class="col-md-9">
                            <input type="submit" class="add-new-field" formnovalidate value="- Remove language" name="removeLanguage" id="removeLanguage">
                          </div>
                          {% endif %}
                        </div>
                        {% endif %}         
                      </div>
                    {% endfor %}
                    </div>
                    <div class="row" id = "LanguageFields">
                      <br>
                      <label>Are you an international student? (if so, you will be required to have a working VISA before the start of the internship, and for the total length of the internship)
</label>
                      {{form.citizenship}}
                      {% if showError %}
                      {% for error in form.citizenship.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                      {% endif %}
                      <br>
                      <br>
                      <label>What is your program of study?</label>
                      {{form.program}}
                      {% if showError %}
                      {% for error in form.program.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                      {% endif %}
                      <br>
                      <br>
                      <label>Confirm that you are a Concordia student: Enter a valid Concordia Email and we will send you a confirmation link. (This is optional and you may do this at a later time through the 'Edit Profile' menu.) </label>
                      {{form.concordia_email}}
                      {% if showError %}
                      {% for error in form.concordia_email.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                      {% endif %}
                      <br>
                      <br>
                      <label> PDF of your unofficial transcript</label>
                      {{form.transcript}}
                      {% if showError %}
                        {% for error in form.transcript.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                        {% endif %}
                      <br>
                      <br>
                      <br>                        
                    </div>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="submit" class="button primary-bg btn-block" formnovalidate value="Update" name="Update" id="Update">
              </form>
              <div class="shortcut-login">
                <p><a href="/edit-profile">Cancel</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>

    var notLocked = true;
    $.fn.animateHighlight = function(highlightColor, duration) {
        var highlightBg = highlightColor || "#6495ED";
        var animateMs = duration || 1500;
        var originalBg = this.css("backgroundColor");
        if (notLocked) {
            notLocked = false;
            this.stop().css("background-color", highlightBg)
                .animate({backgroundColor: originalBg}, animateMs);
            setTimeout( function() { notLocked = true; }, animateMs);
        }
    };

    </script>

    <script src={% static "assets/js/jquery.min.js" %}></script>
    <script src={% static "assets/js/popper.min.js" %}></script>
    <script src={% static "assets/js/bootstrap.min.js" %}></script>
    <script src={% static "assets/js/feather.min.js" %}></script>
    <script src={% static "assets/js/bootstrap-select.min.js" %}></script>
    <script src={% static "assets/js/jquery.nstSlider.min.js" %}></script>
    <script src={% static "assets/js/owl.carousel.min.js" %}></script>
    <script src={% static "assets/js/visible.js" %}></script>
    <script src={% static "assets/js/jquery.countTo.js" %}></script>
    <script src={% static "assets/js/chart.js" %}></script>
    <script src={% static "assets/js/plyr.js" %}></script>
    <script src={% static "assets/js/tinymce.min.js" %}></script>
    <script src={% static "assets/js/slick.min.js" %}></script>
    <script src={% static "assets/js/jquery.ajaxchimp.min.js" %}></script>

    <script src={% static "js/custom.js" %}></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src={% static "js/map.js" %}></script>
    <script>

      let form_language_count = Number($("[name=extra_language_count]").val());

      $(function() {
          var pos = localStorage.getItem('my-scroll-pos', 0);
          if (pos)
              $(window).scrollTop(pos)
      });

    </script>
    <!-- On click button color change animation function -->
    <script>

    var notLocked = true;
    $.fn.animateHighlight = function(highlightColor, duration) {
        var highlightBg = highlightColor || "#6495ED";
        var animateMs = duration || 1500;
        var originalBg = this.css("backgroundColor");
        if (notLocked) {
            notLocked = false;
            this.stop().css("background-color", highlightBg)
                .animate({backgroundColor: originalBg}, animateMs);
            setTimeout( function() { notLocked = true; }, animateMs);
        }
    };

    </script>

    <script>
  
      $("#addLanguage").click(function() {
          form_language_count ++;
          localStorage.setItem('my-scroll-pos', $(window).scrollTop());

          $("[name=extra_language_count]").val(form_language_count);

          $("#addLanguage").animateHighlight("##6495ED", 1000)
      })

      $("#removeLanguage").click(function() {
          form_language_count --;
          localStorage.setItem('my-scroll-pos', $(window).scrollTop());

          $("[name=extra_language_count]").val(form_language_count);
          $("#removeLanguage").animateHighlight("##6495ED", 1000)
      })
    </script>
    <!-- Select between candidate or employer button control-->
    <script>
  
      $("#selectCandidate").click(function() {
          localStorage.setItem('my-scroll-pos', $(window).scrollTop());

          $("[name=registrationType]").val("candidate");
          $("#selectCandidate").animateHighlight("##6495ED", 1000)
      })

      $("#selectEmployer").click(function() {
          localStorage.setItem('my-scroll-pos', $(window).scrollTop());

          $("[name=registrationType]").val("employer");
          $("#selectCandidate").animateHighlight("##6495ED", 1000)
      })
    </script>

    <!-- Select between new company or existing company button control-->
    <script>

      $("#existingpartner").click(function() {
          localStorage.setItem('my-scroll-pos', $(window).scrollTop());

          $("[name=employerCompany]").val("selectFromExisting");
          $("[name=registrationType]").val("employer");
          $("#existingpartner").animateHighlight("##6495ED", 1000)
      })

      $("#newpartner").click(function() {
          localStorage.setItem('my-scroll-pos', $(window).scrollTop());

          $("[name=employerCompany]").val("createNew");
          $("[name=registrationType]").val("employer");
          $("#newpartner").animateHighlight("##6495ED", 1000)
      })
    </script>
  </body>
</html>