{% load static %}
            {% for job in joblist %}
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src= {{job.company.image.url}} class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details/{{job.pk}}/">{{job.title}}</a></h4>
                  <div class="info">
                    <span class="company"><a href="company-details/{{job.company.pk}}"><i data-feather="briefcase"></i>{{job.company.name}}</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>{{job.location}}</a></span>
                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Deadline: {{job.expirationDate}}</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                      {% if job.status != "Closed" and job.status != "Filled" and job.status != "Partially Filled"%}
                      <a target="_blank" rel="noopener noreferrer" href="/add-resume/{{job.pk}}/" class="button">Apply Now</a>
                      {% else %}
                      <a href="/" class="button">Closed</a>
                      {% endif %}
                  </div>
                  <p class="deadline">Status: {{job.status}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
